.robot-img {
  width: 100px;
  /* background: url(${splash}); */
}

.login-input-div {
  background-image: linear-gradient(white 80%, #845ec2 80%);
  width: 300px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 5px grey;
  padding: 20px 0 20px 0;
}
