.input-translate {
  width: 350px;
  border: 2px solid white;
  margin: 0 auto;
}

.div-translation {
  background-image: linear-gradient(white 90%, #845ec2 90%);
  width: 350px;
  min-height: 200px;
  position: relative;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 0 5px grey;
  padding: 20px;
  text-align: left;
}

.sign-img {
  width: 50px;
}

.description-pill {
  background-color: #efefef;
  color: black;
  font-size: 7px;
  width: 40px;
  border-radius: 4px;
  padding: 2px;
  position: absolute;
  bottom: 0px;
}
