.form-input {
  background: transparent;
  border: transparent;
}

.form-button {
  border-radius: 100%;
  border: solid #845ec2;
  background-color: #845ec2;
}

.form {
  border-radius: 10px;
  background-color: #efefef;
  border: 2px solid lightgrey;
  margin: 10px;
  padding: 5px;
}
