.img-container {
  position: relative;
  width: fit-content;
  /* Struggled to find a way to dynimacly set height of container. */

  height: 60px;
}
.splash {
  position: relative;
  left: 0;
  top: 0;
  width: 60px;
}

.robot {
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
}
