@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sanchez&display=swap");
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
p {
  font-family: "Love Ya Like A Sister";
  color: white;
}

input {
  font-family: "Sanchez";
}

body {
  background-repeat: no-repeat;
  background-image: linear-gradient(#ffc75f 90%, white 90%);
}

hr {
  border: 1px solid #e7b355;
}

button {
  font-family: "Sanchez";
  border: solid #845ec2;
  background-color: #845ec2;
  color: white;
}
